build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
Formula_CNF*.cnf
residualformula_*.cnf
Value_Anal_Compl_*.txt
Solution_*.txt
soft-bsp-ksat/.venv/
soft-bsp-ksat/**/__pycache__/
soft-bsp-ksat/**/*.egg-info/
soft-bsp-ksat/.pytest_cache/
soft-bsp-ksat/.numba_cache/
Sol_SP*
whitening*.txt
outfile
*.txt

