build/
build-dbg/
build-valgrind/
compile_commands.json
data/
bsp_runs/
Formula_CNF*
residualformula*
Solution_tot*
Sol_SP*
whitening*.txt
Value_Anal_Compl_*.txt
outfile
*.aux
*.log
*.pdf
*.o
*.d
example_delta.nn
